<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>MercadoLiebre Newsletter</title>
</head>
<body>

<div class="navbar">
    <img src="logo-mercado-liebre.svg" height="40px" alt="">
    <h4>Lorem ipsum dolor sit amet consectetur</h4>
</div>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt odio odit obcaecati consequuntur quod, voluptatum eius ullam minus. Ipsam corrupti deleniti voluptate omnis. Voluptatum porro dolore ad consectetur aliquid error saepe quia temporibus sequi, placeat ex autem atque ratione? Iusto incidunt expedita at, enim itaque omnis culpa, praesentium nam, accusantium nostrum consequuntur quo. Consectetur, iste ducimus nemo adipisci nobis provident ipsa, quaerat enim, odio eum aspernatur illo veritatis saepe quas molestias accusamus illum quae? Labore dolor expedita, qui voluptatum at eos illum beatae minima unde praesentium ut obcaecati, numquam dolore dignissimos sint excepturi tempore quasi eius, illo itaque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti possimus dicta veniam porro necessitatibus facere mollitia doloribus assumenda alias excepturi tenetur, sint eos reprehenderit aut illo suscipit culpa accusantium! Error quisquam vel non, aut in repellat. Nostrum obcaecati ipsa suscipit animi unde explicabo amet omnis temporibus aliquam, maxime cum soluta saepe quam numquam doloremque! Asperiores quis eligendi sunt quo deleniti enim quia neque aliquam, iusto eos rerum voluptate omnis cupiditate temporibus, libero culpa consectetur tempora fuga? Laborum id asperiores unde? Ullam iure rerum dicta odit! Ipsam aspernatur repellat, debitis hic quidem commodi assumenda dignissimos mollitia optio odit delectus dicta?</p>
    <hr>
</div>

<div>
    <h2>Lorem, ipsum dolor.</h2>
    <img src="banner_newsletter.png" height="250px" alt="">
    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
    <a class="a" href="">Lorem ipsum dolor sit amet-></a>
    <hr>
</div>

<div>
<h2>Lorem ipsum dolor sit amet</h2>
<h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, aspernatur!</h4>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, distinctio voluptas necessitatibus voluptates incidunt aliquam vitae reprehenderit nisi ducimus atque quaerat qui modi maiores quisquam nesciunt consectetur inventore molestiae consequatur eveniet voluptatem explicabo sunt soluta aut aspernatur. Sed repellat excepturi fugiat nostrum aliquam tempora ullam consectetur? Incidunt praesentium possimus fugit?</p>
<hr>
</div>

<div>
   <ul>
    <li><a class="a" href="">Instagram</a></li>
   <li><a class="a" href="">Twitter</a></li>
   <li><a class="a" href="">Facebook</a></li>
   <li><a class="a" href="">Github</a></li>
</ul>
</div>

<div>
    <p>Saludos,</p>
    <p>Tincho</p>
    <hr>
</div>

<div>
    <p class="pie">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore architecto, consequatur vero rem et quasi, blanditiis ab nobis facere non porro? Consequatur doloribus dolorem voluptate alias atque numquam ut ad. Aperiam ullam quia repudiandae cupiditate dicta reiciendis veritatis eum at, culpa quam quod incidunt deleniti iusto excepturi, cum delectus doloremque fuga quisquam. Excepturi itaque dolor, ullam enim nulla alias similique quas voluptatem inventore officiis molestiae. Consectetur sapiente esse suscipit ad repellendus, repellat accusantium! Ea deleniti, est recusandae eum, corporis quis quas at sed, autem rerum consequatur consequuntur? Aspernatur, sunt officia. Quam sunt repellendus saepe perferendis esse odio, error dolore beatae?</p>
</div>

</body>
</html>